@(error: String)

@main(null, "Вход") {
<form action="/login" method="POST">
    <table style="width: 60%; margin: 0 auto;">
        <tbody>
        <tr>
            <td class="ralign">Email:</td>
            <td><input name="email" /></td>
        </tr>
        <tr>
            <td class="ralign">Пароль:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        @if(error!=null) {
        <tr>
            <td colspan="2">@error</td>
        </tr>
        }
        <tr>
            <td class="ralign">&nbsp;</td>
            <td><input type="submit" value="Войти" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center"><a href="/register">Регистрация</a></td>
        </tr>
        </tbody>
    </table>
</form>
}