@(agencies: List[Agency])

@main("admin", "Список агентств") {
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Адрес</th>
                <th>Email</th>
                <th>Средняя оценка</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form action="agency/add" method="POST">
                <tr>
                    <td></td>
                    <td><input name="name" placeholder="Новое агентство" /></td>
                    <td><input name="address" placeholder="Новый адрес" /></td>
                    <td><input name="email" placeholder="Новый email" /></td>
                    <td></td>
                    <td><input type="submit" value="Добавить"></td>
                </tr>
            </form>

            @for(agency <- agencies) {
            <tr>
                <td>@agency.id</td>
                <td>@agency.name</td>
                <td><a href="@agency.address">@agency.address</a></td>
                <td>@agency.email</td>
                <td><a href="agency/@agency.id">@agency.mean()</a></td>
                <td><a href="/agency/delete/@agency.id">Удалить</a></td>
            </tr>
            }
        </tbody>
    </table>
}